@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
    --keyboard-offset: 0px;
    --color-primary: 54 67 186;
    --color-bg: 250 250 252;
    --color-surface: 247 248 252;
    --color-surface-alt: 240 242 248;
    --color-text: 30 41 59;
    --color-muted: 100 116 139;
    --color-border: 226 232 240;
    --color-center-lille: 30 160 115;
    --color-center-marq: 37 70 190;
  }

  body {
    @apply font-sans;
    background-color: rgb(var(--color-bg));
    color: rgb(var(--color-text));
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 125 139 255;
    --color-bg: 9 12 24;
    --color-surface: 15 20 38;
    --color-surface-alt: 20 26 46;
    --color-text: 226 232 240;
    --color-muted: 100 116 139;
    --color-border: 55 65 85;
    --color-center-lille: 104 220 170;
    --color-center-marq: 128 160 245;
  }
}
